.stati-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 150px 0 0 0;
}

.stati {
  width: 375px;
  background-color: #fff;
}
.statiTitle {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  top: 0;
  color: var(--main-on-surface, #414141);
  font-family: "Rubik-700";
  font-size: 36px;
  font-style: normal;
  line-height: 150%;
  margin: 40px 0;
}
.statiTitle .button {
  display: flex;
  width: 168px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
.stati-texts {
  padding: 10px;
}
.stati img {
  width: 100%;
  height: 170px;
  border-radius: 5px 5px 0px 0px;
}
.stati-text {
  /* margin: 10px 0; */
  color: var(--grayscale-hard, #8f8f8f);
  font-family: "Rubik-400";
  font-size: 12px;
  font-style: normal;
  line-height: 150%;
}
.stati-text-2 {
  color: var(--main-on-surface, #414141);
  font-family: "Rubik-700";
  font-size: 18px;
  font-style: normal;
  line-height: 150%;
  padding: 10px 0;
}
.stati-text-3 {
  color: var(--main-on-surface, #414141);
  font-family: "Rubik-400";
  font-size: 16px;
  font-style: normal;
  line-height: 150%;
  padding: 10px 0;
}
.button {
  padding: 14px 35px;
  background-color: #e5ffde;
  /* margin-top: -5px; */
  color: #fff;
  border-radius: 4px;
  color: #70c05b;
  transition: ease-in-out 0.3s;
  cursor: pointer;
}
.button:hover {
  background-color: #70c05b;
  /* transition: 0.5s; */
  color: white;
}
