.promotion {
  position: relative;
  width: 272px;
  border-radius: 4px;
  background: rgba(255, 255, 255, 1);
  padding-bottom: 1px;
  transition: 0.2s;
}
.promotion:hover {
  transform: translate(1.1);
}
.promotionsItemImages {
  position: relative;
}
.img {
  width: 100%;
}
.like {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  width: 32px;
  height: 32px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
}
.stocksPersent {
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: inline-flex;
  padding: 4px 8px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 4px;
  background: var(--main-primary, #f63);

  color: var(--main-on-primary, #fff);
  text-align: center;
  font-family: "Rubik-400";
  font-size: 16px;
  font-style: normal;
  line-height: 150%;
}
.promotionItemPrice {
  display: flex;
  justify-content: space-between;
  margin: 8px;
}
.newPrice span {
  color: var(--main-on-surface, #414141);
  font-family: "Rubik-700";
  font-size: 18px;
  font-style: normal;
}
.newPrice p,
.oldPrice p {
  color: var(--grayscale-light, #bfbfbf);
  font-family: "Rubik-400";
  font-size: 12px;
  font-style: normal;
}
.oldPrice span {
  color: var(--grayscale-hardest, #606060);
  font-family: "Rubik-400";
  font-size: 16px;
  font-style: normal;
}
.promotionItemName {
  padding: 8px;
  color: var(--main-on-surface, #414141);
  font-family: "Rubik-400";
  font-size: 16px;
  font-style: normal;
  line-height: 150%;
}
.promotionItemRanking {
  padding: 8px;
}
.addToBasket {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  margin: 8px;
  border-radius: 4px;
  border: 1px solid var(--main-secondary, #70c05b);
  color: var(--main-secondary, #70c05b);
  text-align: center;
  font-family: "Rubik-400";
  font-size: 16px;
  font-style: normal;
  transition: 0.2s;
  cursor: pointer;
}
.addToBasket:hover {
  transform: scale(1.1);
  color: white;
  background: #70c05b;
}
