*{
    text-decoration: none;
    list-style: none;
}

.footer__content{
    padding: 45px;
    background-color: coral;
    border: solid black;
    color: black;
    display: flex;
    justify-content: space-between;
}

.footer_menu{
    width: 10%;
    display: flex;
    align-items:center;
}
.footer__menu-list{
    color: black;
    display: flex;
    gap: 50px;
}
.footer__contact{
    display: flex;
    align-items: center;
}
.footer__menu-link{
    color: black;
}
.footer__contact-tel{
    color: black;
}