* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-image: url('../src/components/footer/img/food-4k-m37wpodzrcbv5gvw.jpg');
  background-position: inherit;
  background-repeat: round;
}

.container {
  width: 1440px;
  padding:20px ;
  margin: 0 auto;
  min-height: 72px;
}

a {
  text-decoration: none;
}
.mainComponents .homeComponent {
  margin-bottom: 120px;
}
